<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <span class="navbar-brand mb-0 h1 name">
                <a href="{{ path('homepage') }}">
                    <span class="c-letter">C</span>
                    <span class="o-letter">o</span>
                    <span class="m-letter">m</span>
                    <span class="p-letter">p</span>
                    <span class="g-letter">'</span>
                    <span class="a-letter">A</span>
                    <span class="r-letter">r</span>
                    <span class="t-letter">t</span>
                </a>
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-menu" href="{{ path('artwork_index') }}">Oeuvres</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-menu" href="{{ path('artist_index') }}">Artistes</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-menu" href="{{ path('museum_index') }}">Musées</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-menu" href="{{ path('artstyle_index') }}">Style</a>
                        </li>
                    {% endif %}
                </ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="nav-link btn btn-orange" href="{{ path('fos_user_security_logout') }}">Déconnection</a>
                {% else %}
                    <a class="nav-link btn btn-blue" href="{{ path('fos_user_security_login') }}">Connection</a>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
