<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Nom Site</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('artwork_index') }}">Oeuvres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('artist_index') }}">Artistes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('museum_index') }}">Musées</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('artstyle_index') }}">Style</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
