{% extends 'base.html.twig' %}

{% block body %}
    <div class="row art my-5 blackground">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1>{{ artist.lastname }} {{ artist.firstname }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Né(e) le : <small>{{ artist.dateOfDeath | date('d/m/Y') }}</small></h2>

                </div>
                {% if artist.dateOfDeath is not null %}
                    <div class="col-sm-6">
                        <h2>Décédé(e) le : <small>{{ artist.dateOfDeath | date('d/m/Y') }}</small></h2>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <h2>Decription</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ artist.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
