{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center blackground my-4">
        <h1>Oeuvres</h1>
    </div>
    <div class="text-center mb-5">
        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn btn-violet text-right" href="{{ path('artwork_new') }}">Nouvelle Oeuvre</a>
        {% endif %}
    </div>
    <div class="row no-gutters">
        {% for artwork in artworks %}
        <div class="col-xs-8 col-sm-4 col-md-3 mb-5">
            <div class="card blackground blackground-card card-artwork" >
                <a href="{{ path('artwork_show', { 'id': artwork.id }) }}">
                    <div class="cadre">
                        <div class="link-list" >
                            <div class="image-wrapper">
                                <img class="card-img-top" src="{{ artwork.picture }}" alt="{{ artwork.name }}">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ artwork.name }}</h5>
                    <div class="btn-place text-center">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="btn btn-orange place-btn" href="{{ path('artwork_edit', { 'id': artwork.id }) }}">Modifier</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
