{% extends 'base.html.twig' %}

{% block body %}
    <div class="row art my-5">
        <div class="col-md-4 offset-1">
            <div class="row">
                <h1>{{ artwork.name }}</h1>
            </div>
            <div class="row">
                <h2>{{ artwork.artist.firstname }} {{ artwork.artist.lastname }}</h2>
            </div>
            <div class="row">
                <p>{{ artwork.characteristics }}</p>
            </div>
            <div class="row">
                <p>{{ artwork.description }}</p>
            </div>
        </div>
        <div class="col-md-5 offset-1 ">
            <img class ="img-fluid" src="{{ artwork.pictures[0].url }}" alt="{{ artwork.name }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-1">
            <button type="button" class="btn btn-dark">Précédent</button>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-dark">Suivant</button>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <a href="{{ path('artwork_index') }}">Liste des oeuvres</a>
        </div>
    </div>

{% endblock %}
