{% extends 'base.html.twig' %}

{% block body %}
    <div class="row art my-5">
        <div class="col-md-6">
            <div class="row d-block d-md-none">
                <img class ="img-fluid" src="{{ artwork.picture }}" alt="{{ artwork.name }}">
            </div>

            <div class="blackground p-3">
                <div class="row">
                    <h1>{{ artwork.name }}</h1>
                </div>
                <div class="row">
                    <h2 class="pb-2"><a href="{{ path('artist_show', { "id": artwork.artist.id }) }}" class="artist">{{ artwork.artist.firstname }} {{ artwork.artist.lastname }}</a></h2>
                </div>
                <div class="row">
                    {% if artwork.type == "Photographie" %}
                        <p>
                            <i class="fa fa-camera" aria-hidden="true"></i>
                            Photographie
                        </p>
                    {% endif %}
                    {% if artwork.type == "Peinture" %}
                        <p>
                            <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            Peinture
                        </p>
                    {% endif %}
                    {% if artwork.type == "Musique" %}
                        <p>
                            <i class="fa fa-music" aria-hidden="true"></i>
                            Musique
                        </p>
                    {% endif %}
                    {% if artwork.type == "Sculpture" %}
                        <p>
                            <i class="fa fa-sign-language" aria-hidden="true"></i>
                            Sculpture
                        </p>
                    {% endif %}
                    {% if artwork.type == "Littérature" %}
                        <p>
                            <i class="fa fa-book" aria-hidden="true"></i>
                            Littérature
                        </p>
                    {% endif %}
                </div>
            </div>

            {% if is_granted("ROLE_USER") %}
                <div class="row mb-3 mt-3 blackground justify-content-center">
                    {% if artwork.favorite == false %}
                        <a href="{{ path('artwork_favorite', {id: artwork.id}) }}"><i class="fa fa-heart-o favorite" aria-hidden="true"></i></a>
                    {% else %}
                        <a href="{{ path('artwork_favorite', {id: artwork.id}) }}"><i class="fa fa-heart favorite" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            {% endif %}


            <div class="row mb-3 p-3 blackground">
                <div>
                    <h3>Caractéristiques</h3>
                </div>
                <div class="col-12">{{ artwork.characteristics }}</div>
            </div>
            <div class="blackground pt-3">
                <ul class="nav nav-tabs d-flex justify-content-center mb-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if app.user.level is defined and app.user.level == 'junior' %}active{% endif %}" id="home-tab" data-toggle="tab" href="#junior" role="tab" aria-controls="home" aria-selected="true">Junior</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.user.level is not defined or app.user.level not in ['junior', 'advanced'] %}active{% endif %}" id="profile-tab" data-toggle="tab" href="#amateur" role="tab" aria-controls="profile" aria-selected="false">Amateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.user.level is defined and app.user.level == 'advanced' %}active{% endif %}" id="contact-tab" data-toggle="tab" href="#expert" role="tab" aria-controls="contact" aria-selected="false">Expert</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade {% if app.user.level is defined and app.user.level == 'junior' %} show active{% endif %} col-12" id="junior" role="tabpanel" aria-labelledby="home-tab">
                        <audio src="/audio/files/{{ artwork.juniorAudio }}" controls type="audio/mp3"></audio>
                        <p class="mt-3 text-justify">{{ artwork.juniorDescription }}</p>
                    </div>
                    <div class="tab-pane fade {% if app.user.level is not defined or app.user.level not in ['junior', 'advanced'] %}show active{% endif %} col-12" id="amateur" role="tabpanel" aria-labelledby="profile-tab">
                        <audio src="/audio/files/{{ artwork.standardAudio }}" controls type="audio/mp3"></audio>
                        <p class="mt-3 text-justify">{{ artwork.standardDescription }}</p>
                    </div>
                    <div class="tab-pane fade {% if app.user.level is defined and app.user.level == 'advanced' %}show active{% endif %} col-12" id="expert" role="tabpanel" aria-labelledby="contact-tab">
                        <audio src="/audio/files/{{ artwork.advancedAudio }}" controls type="audio/mp3"></audio>
                        <p class="mt-3 text-justify">{{ artwork.advancedDescription }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block img-rotate">
            <img class="img-fluid cursor" src="{{ artwork.picture }}" alt="{{ artwork.name }}" onclick="openModal();">
            <div class="blackground mt-3 mb-5">
                <div class="row">
                    <div class="col">
                        <h3 class="pt-3">Exposition</h3>
                        <ul class="museum pl-1">
                            <li>
                                <p>
                                    <i class="fa fa-university pr-2" aria-hidden="true"></i><span class="text-c">{{ artwork.museum.name }}</span>
                                </p>
                            </li>

                            <li>
                                <p>
                                    <i class="fa fa-car pr-2" aria-hidden="true"></i><span>{{ artwork.museum.city }}</span>
                                </p>
                            </li>
                         </ul>
                     </div>
                 </div>
            </div>
         </div>
     </div>

    <div id="myModal" class="modal">
        <span class="close-btn cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div class="mySlides">
                <img src="{{ artwork.picture }}" style="width:100%">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }
    </script>
{% endblock %}
