{% extends 'base.html.twig' %}

{% block body %}
    <div class="row art my-5">
        <div class="col-md-4">
            <div class="row d-block d-md-none">
                <img class ="img-fluid" src="{{ artwork.picture }}" alt="{{ artwork.name }}">
            </div>
            <div class="row">
                <h1>{{ artwork.name }}</h1>
            </div>
            <div class="row">
                <h2>{{ artwork.artist.firstname }} {{ artwork.artist.lastname }}</h2>
            </div>
            <div class="row">
                <p><i class="fa fa-camera" aria-hidden="true"></i>
                    Photographie
                </p>
                <p>
                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    Peinture
                </p>
                <p>
                    <i class="fa fa-music" aria-hidden="true"></i>
                    Musique
                </p>
                <p>
                    <i class="fa fa-sign-language" aria-hidden="true"></i>
                    Sculpture
                </p>
                <p>
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Littérature
                </p>

                <p>{{ artwork.characteristics }}</p>
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#junior" role="tab" aria-controls="home" aria-selected="true">Junior</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#amateur" role="tab" aria-controls="profile" aria-selected="false">Amateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#expert" role="tab" aria-controls="contact" aria-selected="false">Expert</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="junior" role="tabpanel" aria-labelledby="home-tab"> <p>{{ artwork.juniorDescription }}</p></div>
                <div class="tab-pane fade" id="amateur" role="tabpanel" aria-labelledby="profile-tab"> <p>{{ artwork.standardDescription }}</p></div>
                <div class="tab-pane fade" id="expert" role="tabpanel" aria-labelledby="contact-tab"> <p>{{ artwork.advancedDescription }}</p></div>
            </div>

            <div class="row">
                <div class="col">
                    <h2>Détails du musée</h2>
                    <ul class="museum">
                        <li>
                            <p>

                                <i class="fa fa-magic" aria-hidden="true"></i>
                                <span></span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span></span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-university" aria-hidden="true"></i>
                                <span></span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <span></span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <span></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-5 offset-1 d-none d-md-block img-rotate">
            <img class ="img-fluid" src="{{ artwork.picture }}" alt="{{ artwork.name }}">
        </div>
    </div>


    <div class="row no-gutters">
        <div class="col-md-1">
            <a class="btn btn-yellow btn-size-fix" href="{{ path('artwork_index') }}">Précédent</a>
        </div>
        <div class="col-md-1 offset-10">
            <button type="button" class="btn btn-orange btn-size-fix">Suivant</button>
        </div>
    </div>
{% endblock %}
