{% extends 'base.html.twig' %}

{% block body %}
    <h1>Artwork</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artwork.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ artwork.name }}</td>
            </tr>
            <tr>
                <th>Characteristics</th>
                <td>{{ artwork.characteristics }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artwork.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ artwork.type }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ artwork.picture }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('artwork_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('artwork_edit', { 'id': artwork.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
